{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-primary"><i class="fas fa-chart-line"></i> Job Market Insights</h2>

<div class="row">
  <div class="col-md-6">
    <div class="card shadow mb-3">
      <div class="card-body">
        <h5 class="card-title text-danger">AI & ML</h5>
        <p>40% growth YoY. Highest demand in USA & India.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow mb-3">
      <div class="card-body">
        <h5 class="card-title text-success">Cybersecurity</h5>
        <p>Global demand, shortage of 3M+ professionals.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
