{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-primary"><i class="fas fa-book-open"></i> Learning & Upskilling Suggestions</h2>

<div class="row">
  <div class="col-md-4">
    <div class="card shadow border-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">Coursera</h5>
        <p>Machine Learning by Andrew Ng</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow border-success mb-3">
      <div class="card-body">
        <h5 class="card-title">FreeCodeCamp</h5>
        <p>Full-Stack Development Bootcamp</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow border-warning mb-3">
      <div class="card-body">
        <h5 class="card-title">Udemy</h5>
        <p>DevOps Bootcamp with Docker & Kubernetes</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
